<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil User</title>
</head>
<body>
    <a href="/user/edit/<%= data.id %>">Edit Profil</a>
    <a href="/restaurant/add/<%= data.id %>">Add Restaurant</a>

    <a href="/user/logout/<%= data.id %>">Logout</a>

    <h1>PROFIL USER</h1>
    Hai <%= data.name %><br />
    Restaurant kamu <br />
    <% data.Restaurants.forEach((el, index)=>{ %>
        <%= index+1 %>
        <a href="/restaurant/<%= el.id %> "><%= el.name %></a>
        <a href="/restaurant/edit/<%= el.id  + '&' + data.id %> ">Edit</a>   
        <a href="/restaurant/delete/<%= el.id + '&' + data.id %> ">Delete</a>   <br />

    <% }) %>
</body>
</html>