<!DOCTYPE html>
<html lang="en">
    <% include('../../partials/head') %>
<body>
    <div class="container-fluid" >
        <!-- Content here -->
        <h2><%= dataRestaurant.name %></h2>
        <h4><%= dataRestaurant.address %></h4>
        <% if (Number(dataRestaurant.openAt.slice(0,2)) <= Number(new Date().getHours()) && Number(dataRestaurant.closeAt.slice(0,2)) >= new Date().getHours()) { %>
            <h4 style="color:green">OPEN</h4>
        <% } else { %>
            <h4 style="color:red">CLOSE</h4>    
        <% } %>
      </div>
    
      <a href="/review/add/<%= dataRestaurant.id %>">Add Review</a>
    <table border="3">
        <thead>
            <tr>
                <th>Username</th>
                <th>Rating</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(element=>{ %>
                <tr>
                    <td><%= element.User.name %> </td>
                    <td><%= element.rating  %></td>
                    <td><%= element.description  %></td>                
                </tr>
            <% })  %>
        </tbody>
    </table>
</body>
<% include('../../partials/foot') %>

</html>